In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
#Dataset 1
#Posted by Pamela Del Rosario 
#Topic Video game sales

vgames = pd.read_csv('vgsales.csv')

In [3]:
#This displays the infomation behind the dataset (Colums,  rows, enteries)
vgames.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [4]:
#This displays the first 5 enteries in the dataset getting a snapshot of  what the dataset looks like
vgames.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [5]:
#This displays if and how many enteries are null
vgames.isnull().sum()
#The output displays that 271 year enteries are null and 58 publisher enteires are null

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [6]:
#This displays the count of how many enteries have what Platform
vgames.Platform.value_counts()

DS      2163
PS2     2161
PS3     1329
Wii     1325
X360    1265
PSP     1213
PS      1196
PC       960
XB       824
GBA      822
GC       556
3DS      509
PSV      413
PS4      336
N64      319
SNES     239
XOne     213
SAT      173
WiiU     143
2600     133
GB        98
NES       98
DC        52
GEN       27
NG        12
WS         6
SCD        6
3DO        3
TG16       2
PCFX       1
GG         1
Name: Platform, dtype: int64

In [7]:
#This displays the number of results with Publisher Ubisoft 921
pub_Ubisoft = vgames[vgames.Publisher == 'Ubisoft']
pub_Ubisoft

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
60,61,Just Dance 3,Wii,2011.0,Misc,Ubisoft,6.05,3.15,0.00,1.07,10.26
68,69,Just Dance 2,Wii,2010.0,Misc,Ubisoft,5.84,2.89,0.01,0.78,9.52
102,103,Just Dance,Wii,2009.0,Misc,Ubisoft,3.51,3.03,0.00,0.73,7.27
111,112,Just Dance 4,Wii,2012.0,Misc,Ubisoft,4.14,2.21,0.00,0.56,6.91
128,129,Assassin's Creed III,PS3,2012.0,Action,Ubisoft,2.64,2.56,0.16,1.14,6.50
...,...,...,...,...,...,...,...,...,...,...,...
16505,16508,Rabbids Invasion: The Interactive TV Show,XOne,2014.0,Misc,Ubisoft,0.00,0.01,0.00,0.00,0.01
16514,16517,National Geographic Panda (JP sales),DS,2008.0,Simulation,Ubisoft,0.00,0.00,0.01,0.00,0.01
16544,16547,Imagine Figure Skater (JP sales),DS,2007.0,Sports,Ubisoft,0.00,0.00,0.01,0.00,0.01
16584,16587,Bust-A-Move 3000,GC,2003.0,Puzzle,Ubisoft,0.01,0.00,0.00,0.00,0.01
16591,16594,Myst IV: Revelation,PC,2004.0,Adventure,Ubisoft,0.01,0.00,0.00,0.00,0.01

In [8]:
#While this displays that the most common publisher is Electronic Arts
common_pub = vgames['Publisher'].mode()
print("Most Common Publisher: ",common_pub[0])

Most Common Publisher:  Electronic Arts

In [9]:
#There are 578 unique publisher values in the dataset
vgames['Publisher'].nunique()

578

In [10]:
#Now Lets sort the dataset by Publisher so it displays in alphabetical order
bypub_alphabetized = vgames.sort_values('Publisher')
bypub_alphabetized

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
12349,12351,Panzer Tactics,DS,2007.0,Strategy,10TACLE Studios,0.06,0.00,0.00,0.00,0.06
14130,14132,Boulder Dash: Rocks!,DS,2007.0,Puzzle,10TACLE Studios,0.00,0.03,0.00,0.00,0.03
15706,15709,Pirates: Legend of the Black Buccaneer,PS2,2006.0,Adventure,10TACLE Studios,0.01,0.01,0.00,0.00,0.02
16449,16452,King's Bounty: Armored Princess,PC,2009.0,Role-Playing,1C Company,0.00,0.01,0.00,0.00,0.01
13724,13726,Off-Road Drive,PC,2011.0,Racing,1C Company,0.00,0.03,0.00,0.01,0.04
...,...,...,...,...,...,...,...,...,...,...,...
16229,16232,Brothers in Arms: Furious 4,X360,NaN,Shooter,NaN,0.01,0.00,0.00,0.00,0.01
16367,16370,Dance with Devils,PSV,2016.0,Action,NaN,0.00,0.00,0.01,0.00,0.01
16494,16497,Legends of Oz: Dorothy's Return,3DS,2014.0,Puzzle,NaN,0.00,0.01,0.00,0.00,0.01
16543,16546,Driving Simulator 2011,PC,2011.0,Racing,NaN,0.00,0.01,0.00,0.00,0.01
16553,16556,Bound By Flame,X360,2014.0,Role-Playing,NaN,0.00,0.01,0.00,0.00,0.01

In [11]:
#Finally lets tidy up the data by dropping some of the columns which I think are not needed
tidied_vgames = bypub_alphabetized.drop(['Rank', 'Year', 'Genre'], 1)
tidied_vgames

,Name,Platform,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
12349,Panzer Tactics,DS,10TACLE Studios,0.06,0.00,0.00,0.00,0.06
14130,Boulder Dash: Rocks!,DS,10TACLE Studios,0.00,0.03,0.00,0.00,0.03
15706,Pirates: Legend of the Black Buccaneer,PS2,10TACLE Studios,0.01,0.01,0.00,0.00,0.02
16449,King's Bounty: Armored Princess,PC,1C Company,0.00,0.01,0.00,0.00,0.01
13724,Off-Road Drive,PC,1C Company,0.00,0.03,0.00,0.01,0.04
...,...,...,...,...,...,...,...,...
16229,Brothers in Arms: Furious 4,X360,NaN,0.01,0.00,0.00,0.00,0.01
16367,Dance with Devils,PSV,NaN,0.00,0.00,0.01,0.00,0.01
16494,Legends of Oz: Dorothy's Return,3DS,NaN,0.00,0.01,0.00,0.00,0.01
16543,Driving Simulator 2011,PC,NaN,0.00,0.01,0.00,0.00,0.01
16553,Bound By Flame,X360,NaN,0.00,0.01,0.00,0.00,0.01

In [1]:
#Analysis

#The data in this data is a very good example of too much in one set.
#The sales from different areas of the world help highlight the different levels of sales for a game, based on how they add up to the global sales.
#However, the columns Rank, Year, and Genre I feel aren't needed here as much as the others. 
#These can be help for analysing some parts of the sales for each video game, but in the end looking at the data and personally experience the main three items that impact sales a is Name, Platform, and Publisher.
#The tidied up version of this dataset just above really relates the titles, platforms and publishers to the sales in each area of the world and relates to the global sales easier.